.About {
    width: 50%;
    margin: auto;
    height: 100%;

    .introduce {

        div {

            text-indent: 30px;
            margin: 15px 0;
            line-height: 28px;
        }
    }

    a {
        @include font-color('border-color')
    }
    .Specification{
        line-height: 28px;
        li{
            margin: 10px 0 10px 45px;
            list-style:unset !important;

        }
        
    }
    .ContactUs ,ul{
        margin: 15px 0;
        li {

            text-indent: 30px;
            line-height: 28px;
        }
    }
    p{
        margin: 15px 0;
        text-indent: 30px;
        cursor: pointer;
        @include font-color('border-color')
    }
}
@media screen and (max-width: 1024px){
    .About {
        width: 70%;
    }
  }
